.center {
    text-align: center;
}

.container, header, main, footer {
    border: solid black 1px;
}

body {
    background-color: lightgrey;
}
.container {
    margin-top: 15px;
    background-color: white;
}

header {
    background-color: black;
}

img {
    height: 100%;
    width: 100%;
}

#worldMap {
    text-align: center;
}

footer {
    background-color: black;
    text-align: center;
    color: whitesmoke;
}

.tooltip {
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.8);
    color: #ffffdd;

}


/****************/
/*  LINE CHART  */
/****************/

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}

.line {
    fill: none;
    stroke: #1C9A3D;
    stroke-width: 1.5px;
}

.tooltip-circle {
    fill: #96AB96;
}


path {
    stroke: grey;
    stroke-width: 0.5px;
    fill: grey;
}





/****************/
/*  SUNBURST CHART  */
/****************/




#main {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    height: 700px;
    margin-top: 10px;
    float: left;
    width: 400px;
}

#sidebar {
    float: right;
    width: 100px;
}

#sequence {
    font-size: 10px;
    width: 600px;
    height: 70px;
}

#legend {
    padding: 10px 0 0 3px;
}

#sequence text, #legend text {
    font-weight: 600;
    fill: #fff;
}

#chart {
    position: absolute;
    top: 80px;
    left: -60px;

}

#chart path {
    stroke: #fff;
}

#explanation {
    font-size: 12px;
position: absolute;
top: 210px;
left: 280px;
/*width: 240px;*/
text-align: center;
color: #666;
/*z-index: -1;*/
}

#percentage {
    font-size: 2.5em;
}