.center {
    text-align: center;
}

.container, header, main, footer {
    border: solid black 1px;
}

body {
    background-color: lightgrey;
}
.container {
    margin-top: 15px;
    background-color: white;
}

header {
    background-color: black;
}

img {
    height: 100%;
    width: 100%;
}

#worldMap {
    text-align: center;
}

footer {
    background-color: black;
    text-align: center;
    color: whitesmoke;
}


/****************/
/*  LINE CHART  */
/****************/

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}

.line {
    fill: none;
    stroke: #1C9A3D;
    stroke-width: 1.5px;
}

.tooltip-circle {
    fill: #96AB96;
}


path {
    stroke: grey;
    stroke-width: 0.5px;
    fill: grey;
}